dmenu/dmenu
dmenu/dmenu.o
dmenu/drw.o
dmenu/stest
dmenu/stest.o
dmenu/util.o

dwm/drw.o
dwm/dwm
dwm/dwm.o
dwm/util.o

dwmblocks/dwmblocks
dwmblocks/dwmblocks.o

slmenu/slmenu
slmenu/slmenu.o

st/st
st/st.o
st/x.o

init/ctrlaltdel
init/getty
init/halt
init/init
init/killall5
init/libutil.a
init/libutil/agetcwd.o
init/libutil/agetline.o
init/libutil/apathmax.o
init/libutil/concat.o
init/libutil/ealloc.o
init/libutil/eprintf.o
init/libutil/estrtol.o
init/libutil/estrtoul.o
init/libutil/explicit_bzero.o
init/libutil/passwd.o
init/libutil/proc.o
init/libutil/putword.o
init/libutil/recurse.o
init/libutil/strlcat.o
init/libutil/strlcpy.o
init/libutil/strtonum.o
init/libutil/tty.o
init/login
init/respawn
