dmenu/dmenu
dmenu/dmenu.o
dmenu/drw.o
dmenu/stest
dmenu/stest.o
dmenu/util.o

dwm/drw.o
dwm/dwm
dwm/dwm.o
dwm/util.o

dwmblocks/dwmblocks
dwmblocks/dwmblocks.o

slmenu/slmenu
slmenu/slmenu.o

st/st
st/st.o
st/x.o

utils/sbase/basename
utils/sbase/basename.o
utils/sbase/cal
utils/sbase/cal.o
utils/sbase/cat
utils/sbase/cat.o
utils/sbase/chgrp
utils/sbase/chgrp.o
utils/sbase/chmod
utils/sbase/chmod.o
utils/sbase/chown
utils/sbase/chown.o
utils/sbase/chroot
utils/sbase/chroot.o
utils/sbase/cksum
utils/sbase/cksum.o
utils/sbase/cmp
utils/sbase/cmp.o
utils/sbase/cols
utils/sbase/cols.o
utils/sbase/comm
utils/sbase/comm.o
utils/sbase/cp
utils/sbase/cp.o
utils/sbase/cron
utils/sbase/cron.o
utils/sbase/cut
utils/sbase/cut.o
utils/sbase/date
utils/sbase/date.o
utils/sbase/dirname
utils/sbase/dirname.o
utils/sbase/du
utils/sbase/du.o
utils/sbase/echo
utils/sbase/echo.o
utils/sbase/ed
utils/sbase/ed.o
utils/sbase/env
utils/sbase/env.o
utils/sbase/expand
utils/sbase/expand.o
utils/sbase/expr
utils/sbase/expr.o
utils/sbase/false
utils/sbase/false.o
utils/sbase/find
utils/sbase/find.o
utils/sbase/flock
utils/sbase/flock.o
utils/sbase/fold
utils/sbase/fold.o
utils/sbase/getconf
utils/sbase/getconf.h
utils/sbase/getconf.o
utils/sbase/grep
utils/sbase/grep.o
utils/sbase/head
utils/sbase/head.o
utils/sbase/hostname
utils/sbase/hostname.o
utils/sbase/join
utils/sbase/join.o
utils/sbase/kill
utils/sbase/kill.o
utils/sbase/libutf.a
utils/sbase/libutf/fgetrune.o
utils/sbase/libutf/fputrune.o
utils/sbase/libutf/isalnumrune.o
utils/sbase/libutf/isalpharune.o
utils/sbase/libutf/isblankrune.o
utils/sbase/libutf/iscntrlrune.o
utils/sbase/libutf/isdigitrune.o
utils/sbase/libutf/isgraphrune.o
utils/sbase/libutf/isprintrune.o
utils/sbase/libutf/ispunctrune.o
utils/sbase/libutf/isspacerune.o
utils/sbase/libutf/istitlerune.o
utils/sbase/libutf/isxdigitrune.o
utils/sbase/libutf/lowerrune.o
utils/sbase/libutf/rune.o
utils/sbase/libutf/runetype.o
utils/sbase/libutf/upperrune.o
utils/sbase/libutf/utf.o
utils/sbase/libutf/utftorunestr.o
utils/sbase/libutil.a
utils/sbase/libutil/concat.o
utils/sbase/libutil/cp.o
utils/sbase/libutil/crypt.o
utils/sbase/libutil/ealloc.o
utils/sbase/libutil/enmasse.o
utils/sbase/libutil/eprintf.o
utils/sbase/libutil/eregcomp.o
utils/sbase/libutil/estrtod.o
utils/sbase/libutil/fnck.o
utils/sbase/libutil/fshut.o
utils/sbase/libutil/getlines.o
utils/sbase/libutil/human.o
utils/sbase/libutil/linecmp.o
utils/sbase/libutil/md5.o
utils/sbase/libutil/memmem.o
utils/sbase/libutil/mkdirp.o
utils/sbase/libutil/mode.o
utils/sbase/libutil/parseoffset.o
utils/sbase/libutil/putword.o
utils/sbase/libutil/reallocarray.o
utils/sbase/libutil/recurse.o
utils/sbase/libutil/rm.o
utils/sbase/libutil/sha1.o
utils/sbase/libutil/sha224.o
utils/sbase/libutil/sha256.o
utils/sbase/libutil/sha384.o
utils/sbase/libutil/sha512-224.o
utils/sbase/libutil/sha512-256.o
utils/sbase/libutil/sha512.o
utils/sbase/libutil/strcasestr.o
utils/sbase/libutil/strlcat.o
utils/sbase/libutil/strlcpy.o
utils/sbase/libutil/strsep.o
utils/sbase/libutil/strtonum.o
utils/sbase/libutil/unescape.o
utils/sbase/libutil/writeall.o
utils/sbase/link
utils/sbase/link.o
utils/sbase/ln
utils/sbase/ln.o
utils/sbase/logger
utils/sbase/logger.o
utils/sbase/logname
utils/sbase/logname.o
utils/sbase/ls
utils/sbase/ls.o
utils/sbase/md5sum
utils/sbase/md5sum.o
utils/sbase/mkdir
utils/sbase/mkdir.o
utils/sbase/mkfifo
utils/sbase/mkfifo.o
utils/sbase/mknod
utils/sbase/mknod.o
utils/sbase/mktemp
utils/sbase/mktemp.o
utils/sbase/mv
utils/sbase/mv.o
utils/sbase/nice
utils/sbase/nice.o
utils/sbase/nl
utils/sbase/nl.o
utils/sbase/nohup
utils/sbase/nohup.o
utils/sbase/od
utils/sbase/od.o
utils/sbase/paste
utils/sbase/paste.o
utils/sbase/pathchk
utils/sbase/pathchk.o
utils/sbase/printenv
utils/sbase/printenv.o
utils/sbase/printf
utils/sbase/printf.o
utils/sbase/pwd
utils/sbase/pwd.o
utils/sbase/readlink
utils/sbase/readlink.o
utils/sbase/renice
utils/sbase/renice.o
utils/sbase/rev
utils/sbase/rev.o
utils/sbase/rm
utils/sbase/rm.o
utils/sbase/rmdir
utils/sbase/rmdir.o
utils/sbase/sed
utils/sbase/sed.o
utils/sbase/seq
utils/sbase/seq.o
utils/sbase/setsid
utils/sbase/setsid.o
utils/sbase/sha1sum
utils/sbase/sha1sum.o
utils/sbase/sha224sum
utils/sbase/sha224sum.o
utils/sbase/sha256sum
utils/sbase/sha256sum.o
utils/sbase/sha384sum
utils/sbase/sha384sum.o
utils/sbase/sha512-224sum
utils/sbase/sha512-224sum.o
utils/sbase/sha512-256sum
utils/sbase/sha512-256sum.o
utils/sbase/sha512sum
utils/sbase/sha512sum.o
utils/sbase/sleep
utils/sbase/sleep.o
utils/sbase/sort
utils/sbase/sort.o
utils/sbase/split
utils/sbase/split.o
utils/sbase/sponge
utils/sbase/sponge.o
utils/sbase/strings
utils/sbase/strings.o
utils/sbase/sync
utils/sbase/sync.o
utils/sbase/tail
utils/sbase/tail.o
utils/sbase/tar
utils/sbase/tar.o
utils/sbase/tee
utils/sbase/tee.o
utils/sbase/test
utils/sbase/test.o
utils/sbase/tftp
utils/sbase/tftp.o
utils/sbase/time
utils/sbase/time.o
utils/sbase/touch
utils/sbase/touch.o
utils/sbase/tr
utils/sbase/tr.o
utils/sbase/true
utils/sbase/true.o
utils/sbase/tsort
utils/sbase/tsort.o
utils/sbase/tty
utils/sbase/tty.o
utils/sbase/uname
utils/sbase/uname.o
utils/sbase/unexpand
utils/sbase/unexpand.o
utils/sbase/uniq
utils/sbase/uniq.o
utils/sbase/unlink
utils/sbase/unlink.o
utils/sbase/uudecode
utils/sbase/uudecode.o
utils/sbase/uuencode
utils/sbase/uuencode.o
utils/sbase/wc
utils/sbase/wc.o
utils/sbase/which
utils/sbase/which.o
utils/sbase/whoami
utils/sbase/whoami.o
utils/sbase/xargs
utils/sbase/xargs.o
utils/sbase/xinstall
utils/sbase/xinstall.o
utils/sbase/yes
utils/sbase/yes.o
utils/sinit/init
utils/sinit/sinit.o
utils/ubase/blkdiscard
utils/ubase/blkdiscard.o
utils/ubase/chvt
utils/ubase/chvt.o
utils/ubase/clear
utils/ubase/clear.o
utils/ubase/ctrlaltdel
utils/ubase/ctrlaltdel.o
utils/ubase/dd
utils/ubase/dd.o
utils/ubase/df
utils/ubase/df.o
utils/ubase/dmesg
utils/ubase/dmesg.o
utils/ubase/eject
utils/ubase/eject.o
utils/ubase/fallocate
utils/ubase/fallocate.o
utils/ubase/free
utils/ubase/free.o
utils/ubase/freeramdisk
utils/ubase/freeramdisk.o
utils/ubase/fsfreeze
utils/ubase/fsfreeze.o
utils/ubase/getty
utils/ubase/getty.o
utils/ubase/halt
utils/ubase/halt.o
utils/ubase/hwclock
utils/ubase/hwclock.o
utils/ubase/id
utils/ubase/id.o
utils/ubase/insmod
utils/ubase/insmod.o
utils/ubase/killall5
utils/ubase/killall5.o
utils/ubase/last
utils/ubase/last.o
utils/ubase/lastlog
utils/ubase/lastlog.o
utils/ubase/libutil.a
utils/ubase/libutil/agetcwd.o
utils/ubase/libutil/agetline.o
utils/ubase/libutil/apathmax.o
utils/ubase/libutil/concat.o
utils/ubase/libutil/ealloc.o
utils/ubase/libutil/eprintf.o
utils/ubase/libutil/estrtol.o
utils/ubase/libutil/estrtoul.o
utils/ubase/libutil/explicit_bzero.o
utils/ubase/libutil/passwd.o
utils/ubase/libutil/proc.o
utils/ubase/libutil/putword.o
utils/ubase/libutil/recurse.o
utils/ubase/libutil/strlcat.o
utils/ubase/libutil/strlcpy.o
utils/ubase/libutil/strtonum.o
utils/ubase/libutil/tty.o
utils/ubase/login
utils/ubase/login.o
utils/ubase/lsmod
utils/ubase/lsmod.o
utils/ubase/lsusb
utils/ubase/lsusb.o
utils/ubase/mesg
utils/ubase/mesg.o
utils/ubase/mknod
utils/ubase/mknod.o
utils/ubase/mkswap
utils/ubase/mkswap.o
utils/ubase/mount
utils/ubase/mount.o
utils/ubase/mountpoint
utils/ubase/mountpoint.o
utils/ubase/nologin
utils/ubase/nologin.o
utils/ubase/pagesize
utils/ubase/pagesize.o
utils/ubase/passwd
utils/ubase/passwd.o
utils/ubase/pidof
utils/ubase/pidof.o
utils/ubase/pivot_root
utils/ubase/pivot_root.o
utils/ubase/ps
utils/ubase/ps.o
utils/ubase/pwdx
utils/ubase/pwdx.o
utils/ubase/readahead
utils/ubase/readahead.o
utils/ubase/respawn
utils/ubase/respawn.o
utils/ubase/rmmod
utils/ubase/rmmod.o
utils/ubase/stat
utils/ubase/stat.o
utils/ubase/su
utils/ubase/su.o
utils/ubase/swaplabel
utils/ubase/swaplabel.o
utils/ubase/swapoff
utils/ubase/swapoff.o
utils/ubase/swapon
utils/ubase/swapon.o
utils/ubase/switch_root
utils/ubase/switch_root.o
utils/ubase/sysctl
utils/ubase/sysctl.o
utils/ubase/truncate
utils/ubase/truncate.o
utils/ubase/umount
utils/ubase/umount.o
utils/ubase/unshare
utils/ubase/unshare.o
utils/ubase/uptime
utils/ubase/uptime.o
utils/ubase/vtallow
utils/ubase/vtallow.o
utils/ubase/watch
utils/ubase/watch.o
utils/ubase/who
utils/ubase/who.o
