dmenu/dmenu
dmenu/dmenu.o
dmenu/drw.o
dmenu/stest
dmenu/stest.o
dmenu/util.o
dwm/drw.o
dwm/dwm
dwm/dwm.o
dwm/util.o
dwmblocks/dwmblocks
dwmblocks/dwmblocks.o
sbase/basename
sbase/basename.o
sbase/cal
sbase/cal.o
sbase/cat
sbase/cat.o
sbase/chgrp
sbase/chgrp.o
sbase/chmod
sbase/chmod.o
sbase/chown
sbase/chown.o
sbase/chroot
sbase/chroot.o
sbase/cksum
sbase/cksum.o
sbase/cmp
sbase/cmp.o
sbase/cols
sbase/cols.o
sbase/comm
sbase/comm.o
sbase/cp
sbase/cp.o
sbase/cron
sbase/cron.o
sbase/cut
sbase/cut.o
sbase/date
sbase/date.o
sbase/dirname
sbase/dirname.o
sbase/du
sbase/du.o
sbase/echo
sbase/echo.o
sbase/ed
sbase/ed.o
sbase/env
sbase/env.o
sbase/expand
sbase/expand.o
sbase/expr
sbase/expr.o
sbase/false
sbase/false.o
sbase/find
sbase/find.o
sbase/flock
sbase/flock.o
sbase/fold
sbase/fold.o
sbase/getconf
sbase/getconf.h
sbase/getconf.o
sbase/grep
sbase/grep.o
sbase/head
sbase/head.o
sbase/hostname
sbase/hostname.o
sbase/join
sbase/join.o
sbase/kill
sbase/kill.o
sbase/libutf.a
sbase/libutf/fgetrune.o
sbase/libutf/fputrune.o
sbase/libutf/isalnumrune.o
sbase/libutf/isalpharune.o
sbase/libutf/isblankrune.o
sbase/libutf/iscntrlrune.o
sbase/libutf/isdigitrune.o
sbase/libutf/isgraphrune.o
sbase/libutf/isprintrune.o
sbase/libutf/ispunctrune.o
sbase/libutf/isspacerune.o
sbase/libutf/istitlerune.o
sbase/libutf/isxdigitrune.o
sbase/libutf/lowerrune.o
sbase/libutf/rune.o
sbase/libutf/runetype.o
sbase/libutf/upperrune.o
sbase/libutf/utf.o
sbase/libutf/utftorunestr.o
sbase/libutil.a
sbase/libutil/concat.o
sbase/libutil/cp.o
sbase/libutil/crypt.o
sbase/libutil/ealloc.o
sbase/libutil/enmasse.o
sbase/libutil/eprintf.o
sbase/libutil/eregcomp.o
sbase/libutil/estrtod.o
sbase/libutil/fnck.o
sbase/libutil/fshut.o
sbase/libutil/getlines.o
sbase/libutil/human.o
sbase/libutil/linecmp.o
sbase/libutil/md5.o
sbase/libutil/memmem.o
sbase/libutil/mkdirp.o
sbase/libutil/mode.o
sbase/libutil/parseoffset.o
sbase/libutil/putword.o
sbase/libutil/reallocarray.o
sbase/libutil/recurse.o
sbase/libutil/rm.o
sbase/libutil/sha1.o
sbase/libutil/sha224.o
sbase/libutil/sha256.o
sbase/libutil/sha384.o
sbase/libutil/sha512-224.o
sbase/libutil/sha512-256.o
sbase/libutil/sha512.o
sbase/libutil/strcasestr.o
sbase/libutil/strlcat.o
sbase/libutil/strlcpy.o
sbase/libutil/strsep.o
sbase/libutil/strtonum.o
sbase/libutil/unescape.o
sbase/libutil/writeall.o
sbase/link
sbase/link.o
sbase/ln
sbase/ln.o
sbase/logger
sbase/logger.o
sbase/logname
sbase/logname.o
sbase/ls
sbase/ls.o
sbase/md5sum
sbase/md5sum.o
sbase/mkdir
sbase/mkdir.o
sbase/mkfifo
sbase/mkfifo.o
sbase/mknod
sbase/mknod.o
sbase/mktemp
sbase/mktemp.o
sbase/mv
sbase/mv.o
sbase/nice
sbase/nice.o
sbase/nl
sbase/nl.o
sbase/nohup
sbase/nohup.o
sbase/od
sbase/od.o
sbase/paste
sbase/paste.o
sbase/pathchk
sbase/pathchk.o
sbase/printenv
sbase/printenv.o
sbase/printf
sbase/printf.o
sbase/pwd
sbase/pwd.o
sbase/readlink
sbase/readlink.o
sbase/renice
sbase/renice.o
sbase/rev
sbase/rev.o
sbase/rm
sbase/rm.o
sbase/rmdir
sbase/rmdir.o
sbase/sed
sbase/sed.o
sbase/seq
sbase/seq.o
sbase/setsid
sbase/setsid.o
sbase/sha1sum
sbase/sha1sum.o
sbase/sha224sum
sbase/sha224sum.o
sbase/sha256sum
sbase/sha256sum.o
sbase/sha384sum
sbase/sha384sum.o
sbase/sha512-224sum
sbase/sha512-224sum.o
sbase/sha512-256sum
sbase/sha512-256sum.o
sbase/sha512sum
sbase/sha512sum.o
sbase/sleep
sbase/sleep.o
sbase/sort
sbase/sort.o
sbase/split
sbase/split.o
sbase/sponge
sbase/sponge.o
sbase/strings
sbase/strings.o
sbase/sync
sbase/sync.o
sbase/tail
sbase/tail.o
sbase/tar
sbase/tar.o
sbase/tee
sbase/tee.o
sbase/test
sbase/test.o
sbase/tftp
sbase/tftp.o
sbase/time
sbase/time.o
sbase/touch
sbase/touch.o
sbase/tr
sbase/tr.o
sbase/true
sbase/true.o
sbase/tsort
sbase/tsort.o
sbase/tty
sbase/tty.o
sbase/uname
sbase/uname.o
sbase/unexpand
sbase/unexpand.o
sbase/uniq
sbase/uniq.o
sbase/unlink
sbase/unlink.o
sbase/uudecode
sbase/uudecode.o
sbase/uuencode
sbase/uuencode.o
sbase/wc
sbase/wc.o
sbase/which
sbase/which.o
sbase/whoami
sbase/whoami.o
sbase/xargs
sbase/xargs.o
sbase/xinstall
sbase/xinstall.o
sbase/yes
sbase/yes.o
sinit/init
sinit/sinit.o
st/st
st/st.o
st/x.o
ubase/blkdiscard
ubase/blkdiscard.o
ubase/chvt
ubase/chvt.o
ubase/clear
ubase/clear.o
ubase/ctrlaltdel
ubase/ctrlaltdel.o
ubase/dd
ubase/dd.o
ubase/df
ubase/df.o
ubase/dmesg
ubase/dmesg.o
ubase/eject
ubase/eject.o
ubase/fallocate
ubase/fallocate.o
ubase/free
ubase/free.o
ubase/freeramdisk
ubase/freeramdisk.o
ubase/fsfreeze
ubase/fsfreeze.o
ubase/getty
ubase/getty.o
ubase/halt
ubase/halt.o
ubase/hwclock
ubase/hwclock.o
ubase/id
ubase/id.o
ubase/insmod
ubase/insmod.o
ubase/killall5
ubase/killall5.o
ubase/last
ubase/last.o
ubase/lastlog
ubase/lastlog.o
ubase/libutil.a
ubase/libutil/agetcwd.o
ubase/libutil/agetline.o
ubase/libutil/apathmax.o
ubase/libutil/concat.o
ubase/libutil/ealloc.o
ubase/libutil/eprintf.o
ubase/libutil/estrtol.o
ubase/libutil/estrtoul.o
ubase/libutil/explicit_bzero.o
ubase/libutil/passwd.o
ubase/libutil/proc.o
ubase/libutil/putword.o
ubase/libutil/recurse.o
ubase/libutil/strlcat.o
ubase/libutil/strlcpy.o
ubase/libutil/strtonum.o
ubase/libutil/tty.o
ubase/login
ubase/login.o
ubase/lsmod
ubase/lsmod.o
ubase/lsusb
ubase/lsusb.o
ubase/mesg
ubase/mesg.o
ubase/mknod
ubase/mknod.o
ubase/mkswap
ubase/mkswap.o
ubase/mount
ubase/mount.o
ubase/mountpoint
ubase/mountpoint.o
ubase/nologin
ubase/nologin.o
ubase/pagesize
ubase/pagesize.o
ubase/passwd
ubase/passwd.o
ubase/pidof
ubase/pidof.o
ubase/pivot_root
ubase/pivot_root.o
ubase/ps
ubase/ps.o
ubase/pwdx
ubase/pwdx.o
ubase/readahead
ubase/readahead.o
ubase/respawn
ubase/respawn.o
ubase/rmmod
ubase/rmmod.o
ubase/stat
ubase/stat.o
ubase/su
ubase/su.o
ubase/swaplabel
ubase/swaplabel.o
ubase/swapoff
ubase/swapoff.o
ubase/swapon
ubase/swapon.o
ubase/switch_root
ubase/switch_root.o
ubase/sysctl
ubase/sysctl.o
ubase/truncate
ubase/truncate.o
ubase/umount
ubase/umount.o
ubase/unshare
ubase/unshare.o
ubase/uptime
ubase/uptime.o
ubase/vtallow
ubase/vtallow.o
ubase/watch
ubase/watch.o
ubase/who
ubase/who.o
